speakercraftflow.json
[{"id":"fe7d8eb64c57cbaf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7a3d44b561d7ab57","type":"serial in","z":"fe7d8eb64c57cbaf","name":"Speakercraft Sensor","serial":"59d9dc34a1901531","x":130,"y":280,"wires":[["50c6cc2d7f64fcf5"]]},{"id":"0923b9d6e9a7b29b","type":"ha-entity","z":"fe7d8eb64c57cbaf","name":"Zone1_Volume","server":"c9a42691.3c96b8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Zone1_Volume"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"volume","stateType":"msg","attributes":[{"property":"muted","value":"muted","valueType":"msg"},{"property":"source","value":"source","valueType":"msg"},{"property":"source_list","value":"source_list","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1280,"y":540,"wires":[[]]},{"id":"c5e5a9903439be2d","type":"switch","z":"fe7d8eb64c57cbaf","name":"Switch Zone","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\x55\\x0b\\x20\\x00","vt":"str","case":false},{"t":"regex","v":"\\x55\\x0b\\x20\\x01","vt":"str","case":false},{"t":"regex","v":"\\x55\\x0b\\x20\\x02","vt":"str","case":false},{"t":"regex","v":"\\x55\\x0b\\x20\\x03","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":770,"y":640,"wires":[["25a4dcd62c5061f7","0923b9d6e9a7b29b","5b77d45a93e3a17c"],["0640eb1e05dc0877","fe14aeea1ddb5131"],["b04a08e8ea28d4f9","18538ec65e1aa52d"],["962e79713318ed0c","f778904535d084d8"]]},{"id":"fe14aeea1ddb5131","type":"ha-entity","z":"fe7d8eb64c57cbaf","name":"Zone2_Volume","server":"c9a42691.3c96b8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Zone2_Volume"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"volume","stateType":"msg","attributes":[{"property":"muted","value":"muted","valueType":"msg"},{"property":"source","value":"source","valueType":"msg"},{"property":"source_list","value":"source_list","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1280,"y":680,"wires":[[]]},{"id":"18538ec65e1aa52d","type":"ha-entity","z":"fe7d8eb64c57cbaf","name":"Zone3_Volume","server":"c9a42691.3c96b8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Zone3_Volume"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"volume","stateType":"msg","attributes":[{"property":"muted","value":"muted","valueType":"msg"},{"property":"source","value":"source","valueType":"msg"},{"property":"source_list","value":"source_list","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1280,"y":820,"wires":[[]]},{"id":"f778904535d084d8","type":"ha-entity","z":"fe7d8eb64c57cbaf","name":"Zone4_Volume","server":"c9a42691.3c96b8","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Zone4_Volume"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"volume","stateType":"msg","attributes":[{"property":"muted","value":"muted","valueType":"msg"},{"property":"source","value":"source","valueType":"msg"},{"property":"source_list","value":"source_list","valueType":"msg"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1280,"y":940,"wires":[[]]},{"id":"25a4dcd62c5061f7","type":"ha-entity","z":"fe7d8eb64c57cbaf","name":"Zone 1 Power","server":"c9a42691.3c96b8","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Zone1"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1280,"y":480,"wires":[["bfbeb555c794bc83"],["de7e9afdbdebc55c"]]},{"id":"4d1ff48319c21de6","type":"serial out","z":"fe7d8eb64c57cbaf","name":"Speakercraft Commands","serial":"59d9dc34a1901531","x":2130,"y":680,"wires":[]},{"id":"bfbeb555c794bc83","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 1 On","func":"msg.payload = Buffer.from(\"\\x55\\x04\\xA0\\x00\\x07\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":460,"wires":[["ba0a6f3fae87a866"]]},{"id":"de7e9afdbdebc55c","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 1 Off","func":"msg.payload = Buffer.from(\"\\x55\\x04\\xA1\\x00\\x06\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":500,"wires":[["ba0a6f3fae87a866"]]},{"id":"c25bdade6861818a","type":"function","z":"fe7d8eb64c57cbaf","name":"Test Checksum","func":"checksum = msg.payload[0] + msg.payload[1] + msg.payload[2] + msg.payload[3] + msg.payload[4] + msg.payload[5] + msg.payload[6] + msg.payload[7] + msg.payload[8] + msg.payload[9] + msg.payload[10] + msg.payload[11]\n\nif (checksum % 256 == 0 ) {\n    return msg}\n\nelse\n    return\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":420,"wires":[["8ec3651cac1725b2"]]},{"id":"1eea4503f9520dc9","type":"server-events","z":"fe7d8eb64c57cbaf","name":"","server":"c9a42691.3c96b8","version":1,"event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":190,"y":960,"wires":[["2e1c42acef6b914d"]]},{"id":"05274d9824704421","type":"switch","z":"fe7d8eb64c57cbaf","name":"Service Switch","property":"event.service","propertyType":"msg","rules":[{"t":"eq","v":"volume_mute","vt":"str"},{"t":"eq","v":"volume_up","vt":"str"},{"t":"eq","v":"volume_down","vt":"str"},{"t":"eq","v":"volume_set","vt":"str"},{"t":"eq","v":"select_source","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1120,"y":1180,"wires":[["2efb571954e74b8e"],["41eaee0617f1b9ce"],["ac6f7017d0d94745"],["e5fdaeeaeb3ac08c"],["ef5643f807046678"]]},{"id":"2efb571954e74b8e","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone Mute Toggle","func":"msg.payload = Buffer.from(\"\\x55\\x08\\x57\\x00\\x00\\x02\\x00\\x00\\x4A\", \"ascii\")\nmsg.payload[7] = msg.zone\nmsg.payload[8] = 256 - ((msg.payload[0] + msg.payload[1] + msg.payload[2] + msg.payload[3] + msg.payload[4] + msg.payload[5] + msg.payload[6] + msg.payload[7]) % 256 )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":1160,"wires":[["ba0a6f3fae87a866"]]},{"id":"dc7c07f8a5f2eaa7","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone Set Volume","func":"volume = msg.payload\nmsg.payload = Buffer.from(\"\\x55\\x08\\x57\\x00\\x00\\x05\\x00\\x00\\x00\", \"ascii\")\nmsg.payload[6] = volume\nmsg.payload[7] = msg.zone\nmsg.payload[8] = 256 - ((msg.payload[0] + msg.payload[1] + msg.payload[2] + msg.payload[3] + msg.payload[4] + msg.payload[5] + msg.payload[6] + msg.payload[7]) % 256 )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":1360,"wires":[["ba0a6f3fae87a866"]]},{"id":"41eaee0617f1b9ce","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone Volume Up","func":"msg.payload = Buffer.from(\"\\x55\\x08\\x57\\x00\\x00\\x01\\x00\\x00\\x4B\", \"ascii\")\nmsg.payload[7] = msg.zone\nmsg.payload[8] = 256 - ((msg.payload[0] + msg.payload[1] + msg.payload[2] + msg.payload[3] + msg.payload[4] + msg.payload[5] + msg.payload[6] + msg.payload[7]) % 256 )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":1220,"wires":[["ba0a6f3fae87a866"]]},{"id":"ac6f7017d0d94745","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone Volume Down","func":"msg.payload = Buffer.from(\"\\x55\\x08\\x57\\x00\\x00\\x00\\x00\\x00\\x4C\", \"ascii\")\nmsg.payload[7] = msg.zone\nmsg.payload[8] = 256 - ((msg.payload[0] + msg.payload[1] + msg.payload[2] + msg.payload[3] + msg.payload[4] + msg.payload[5] + msg.payload[6] + msg.payload[7]) % 256 )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":1280,"wires":[["ba0a6f3fae87a866"]]},{"id":"2e1c42acef6b914d","type":"switch","z":"fe7d8eb64c57cbaf","name":"Speakercraft_zone service calls","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"media_player.speakercraft_zone_","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1040,"wires":[["a7d13636ccfe05c6","b3f761fed271bf60"]]},{"id":"e5fdaeeaeb3ac08c","type":"function","z":"fe7d8eb64c57cbaf","name":"Extract Volume","func":"volume = msg.event.service_data.volume_level\nmsg.payload = 80 - (volume*80)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1360,"wires":[["dc7c07f8a5f2eaa7"]]},{"id":"0640eb1e05dc0877","type":"ha-entity","z":"fe7d8eb64c57cbaf","name":"Zone 2 Power","server":"c9a42691.3c96b8","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Zone2"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1280,"y":620,"wires":[["797b72ba9e562128"],["e2da3d8071512223"]]},{"id":"797b72ba9e562128","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 1 On","func":"msg.payload = Buffer.from(\"\\x55\\x04\\xA0\\x01\\x06\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":600,"wires":[["ba0a6f3fae87a866"]]},{"id":"e2da3d8071512223","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 1 Off","func":"msg.payload = Buffer.from(\"\\x55\\x04\\xA1\\x01\\x05\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":640,"wires":[["ba0a6f3fae87a866"]]},{"id":"16a3a47f1fa0c2aa","type":"function","z":"fe7d8eb64c57cbaf","name":"Extract Zone","func":"// zone = msg.payload.event.service_data.entity_id.split('speakercraft_zone_')[1]\nzone = msg.payload.split('speakercraft_zone_')[1]\nmsg.zone = parseInt(zone)-1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1220,"wires":[["05274d9824704421"]]},{"id":"b04a08e8ea28d4f9","type":"ha-entity","z":"fe7d8eb64c57cbaf","name":"Zone 3 Power","server":"c9a42691.3c96b8","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Zone3"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1280,"y":760,"wires":[["a36174a226eafe1f"],["427b4033be270199"]]},{"id":"a36174a226eafe1f","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 3 On","func":"msg.payload = Buffer.from(\"\\x55\\x04\\xA0\\x02\\x05\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":740,"wires":[["ba0a6f3fae87a866"]]},{"id":"427b4033be270199","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 3 Off","func":"msg.payload = Buffer.from(\"\\x55\\x04\\xA1\\x02\\x04\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":780,"wires":[["ba0a6f3fae87a866"]]},{"id":"962e79713318ed0c","type":"ha-entity","z":"fe7d8eb64c57cbaf","name":"Zone 4 Power","server":"c9a42691.3c96b8","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Zone4"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1280,"y":880,"wires":[["32b41bee5a26a091"],["da95674c836a1797"]]},{"id":"32b41bee5a26a091","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 4 On","func":"msg.payload = Buffer.from(\"\\x55\\x04\\xA0\\x03\\x04\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":860,"wires":[["ba0a6f3fae87a866"]]},{"id":"da95674c836a1797","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 4 Off","func":"msg.payload = Buffer.from(\"\\x55\\x04\\xA1\\x03\\x03\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":900,"wires":[["ba0a6f3fae87a866"]]},{"id":"ba0a6f3fae87a866","type":"delay","z":"fe7d8eb64c57cbaf","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":1790,"y":680,"wires":[["4d1ff48319c21de6"]]},{"id":"a48c9ba810bbb346","type":"split","z":"fe7d8eb64c57cbaf","name":"Create Message Per Zone","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"entity_id","x":620,"y":1160,"wires":[["04151e695fefa2de","16a3a47f1fa0c2aa"]]},{"id":"a7d13636ccfe05c6","type":"function","z":"fe7d8eb64c57cbaf","name":"Parse Message","func":"msg.event = msg.payload.event\nmsg.payload = msg.payload.event.service_data.entity_id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1100,"wires":[["a48c9ba810bbb346"]]},{"id":"04151e695fefa2de","type":"debug","z":"fe7d8eb64c57cbaf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"event","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1080,"wires":[]},{"id":"8ec3651cac1725b2","type":"function","z":"fe7d8eb64c57cbaf","name":"Extract Power","func":"flags = msg.payload[5]\nmsg.enable = flags & 2 ? true: false \nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":480,"wires":[["5c6b3b34e74146f1"]]},{"id":"5c6b3b34e74146f1","type":"function","z":"fe7d8eb64c57cbaf","name":"Extract Volume","func":"volume = msg.payload[10]\nflags = msg.payload[5]\nmsg.muted = flags & 1 ? true: false \nmsg.volume = 1 - (volume/80)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":540,"wires":[["6d248b6c922dbba6"]]},{"id":"50c6cc2d7f64fcf5","type":"switch","z":"fe7d8eb64c57cbaf","name":"Filter Zone Status Message","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\x55\\x0b\\x20","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":360,"wires":[["c25bdade6861818a"]]},{"id":"6d248b6c922dbba6","type":"function","z":"fe7d8eb64c57cbaf","name":"Extract Source","func":"source = msg.payload[6]\n\nswitch(source) {\n  case 0:\n    msg.source = \"Marantz\"\n    break;\n  case 1:\n    msg.source = \"LG TV\"\n    break;\n  case 2:\n    msg.source = \"Audio House\"\n    break;\n  case 4:\n    msg.source = \"Kitchen\"\n    break;\n  case 5:\n    msg.source = \"Gym\"\n}\n\nmsg.source_list = [\"Marantz\", \"LG TV\", \"Audio House\", \"unused\", \"Kitchen\", \"Gym\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":640,"wires":[["c5e5a9903439be2d"]]},{"id":"b3f761fed271bf60","type":"debug","z":"fe7d8eb64c57cbaf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1000,"wires":[]},{"id":"ef5643f807046678","type":"function","z":"fe7d8eb64c57cbaf","name":"Extract Source","func":"source = msg.event.service_data.source\n\nswitch (source) {\n    case \"Marantz\":\n        msg.payload = 0\n        break;\n    case \"LG TV\":\n        msg.payload = 1\n        break;\n    case \"Audio House\":\n        msg.payload = 2\n        break;\n    case \"Kitchen\":\n        msg.payload = 4\n        break;\n    case \"Gym\":\n        msg.payload = 5\n        break;\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":1440,"wires":[["e89b8c84764d76d4"]]},{"id":"e89b8c84764d76d4","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone Set Source","func":"source = msg.payload\nmsg.payload = Buffer.from(\"\\x55\\x05\\xA3\\x00\\x00\\x05\\x00\\x00\\x00\", \"ascii\")\nmsg.payload[4] = source\nmsg.payload[3] = msg.zone\nmsg.payload[5] = 256 - ((msg.payload[0] + msg.payload[1] + msg.payload[2] + msg.payload[3] + msg.payload[4] ) % 256 )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":1440,"wires":[["ba0a6f3fae87a866"]]},{"id":"5f5488ccc1b432f6","type":"ha-entity","z":"fe7d8eb64c57cbaf","name":"PartyMode","server":"c9a42691.3c96b8","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"PartyMode"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1270,"y":340,"wires":[["fb1f6c74485c2925","bfbeb555c794bc83"],["354c08bfceba9691"]]},{"id":"7a9b5d7eafc0888b","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 1 Party On","func":"msg.payload = Buffer.from(\"\\x55\\x05\\xA2\\x01\\x00\\x03\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":300,"wires":[["ba0a6f3fae87a866"]]},{"id":"354c08bfceba9691","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 1 Party Off","func":"msg.payload = Buffer.from(\"\\x55\\x05\\xA2\\x00\\x00\\x04\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":340,"wires":[["ba0a6f3fae87a866"]]},{"id":"5b77d45a93e3a17c","type":"function","z":"fe7d8eb64c57cbaf","name":"Extract Party","func":"flags = msg.payload[5]\nmsg.enable = flags & 4 ? true: false \nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":340,"wires":[["5f5488ccc1b432f6"]]},{"id":"fb1f6c74485c2925","type":"delay","z":"fe7d8eb64c57cbaf","name":"","pauseType":"delay","timeout":"0.25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":1390,"y":240,"wires":[["7a9b5d7eafc0888b","eaf2ce0fee558b55"]]},{"id":"eaf2ce0fee558b55","type":"delay","z":"fe7d8eb64c57cbaf","name":"","pauseType":"delay","timeout":"0.50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":1710,"y":240,"wires":[["a69bdc3c9389405a","d52dd96bdca5da7a"]]},{"id":"a69bdc3c9389405a","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 5 Off","func":"msg.payload = Buffer.from(\"\\x55\\x04\\xA1\\x04\\x02\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":240,"wires":[["ba0a6f3fae87a866"]]},{"id":"d52dd96bdca5da7a","type":"function","z":"fe7d8eb64c57cbaf","name":"Zone 6 Off","func":"msg.payload = Buffer.from(\"\\x55\\x04\\xA1\\x05\\x01\", \"ascii\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":280,"wires":[["ba0a6f3fae87a866"]]},{"id":"59d9dc34a1901531","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"0x55","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"12","bin":"bin","out":"count","addchar":"","responsetimeout":"10000"},{"id":"c9a42691.3c96b8","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true}]